Oauth2 3rd party application integration not working

<img width="1680" alt="Screen Shot 2019-10-21 at 12 23 22 PM" src="https://user-images.githubusercontent.com/56407753/67197673-9bf04100-f3fd-11e9-9ccb-f0269f802daf.png">

During the setup of oauth2 integration between fider and my application, fider tries to send authorization code more than once and therefore the flow isn't working.

According to RFC6749, Section 4.1.2 Authorization Response: **_The client MUST NOT use the authorization code more than once_**.

Are you sure it’s being sent twice? The second Auth code looks different than the first. By the way, what’s that timeout message there?

I am positive that it is sent twice. That is what I also see from my backend Spring Boot app.

Same code is sent twice, maybe you got confused, because I just did a raw printscreen, these are several separate request flows in the picture. But for each one of those oauth flows, you will notice that there are two requests with the same auth code, one being successfull and other being rolled back.

As for the timeout message, this is all I have in the Fider logs, they are already on a TRACE level. As for the backend itself, I can see two requests with auth code comming in, one with the reponse 200 and other being rejected for using invalid auth code (which is btw true, because the code was already consumed by previous request).

What I believe is the issue here is the timeout Fider is getting when reading the response from the OAuth provider. Do you have the same issue with other providers such as GitHub or Google?

Google works fine. Never checked GitHub.

Hi @goenning , do you have any update on this? We are thankful for every info that we can get on this 🙏 